<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gq.hph.repository.mapper.hepinhui.custmapper.CustDeliveryMapper">
  <select id="selectAllDelivery" resultType="java.util.HashMap">
    SELECT 
          box.delivery_date deliveryDate
        , box.box_id boxId
        , box.delivery_ticket_id deliveryTicketId
        , box.express_fee_jpn expressFeeJpn
        , excmp.express_company_name expressCompanyName
        , box.box_weight boxWeight
        , unit.unit_name unitName
        , status.status_name statusName
        , box.receiver_name receiverName
        , box.receiver_address receiverAddress
        , box.receiver_phone receiverPhone
    FROM delivery_box box
    INNER JOIN mst_unit unit
    ON (box.weight_unit_id = unit.unit_id)
    INNER JOIN mst_status status
    ON (box.status_id = status.status_id)
    INNER JOIN mst_express_company excmp
    ON (box.express_company_id = excmp.express_company_id)
    ORDER BY box.delivery_date, box.box_id
  </select>
</mapper>