<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hph.domain.mapper.hepinhui.custmapper.CustDeliveryMapper">
  <select id="selectAllDelivery" parameterType="java.util.Map" resultType="com.hph.bean.resultbean.DeliveryBoxBean">
    SELECT 
          box.delivery_date deliveryDate
        , box.box_id boxId
        , box.delivery_ticket_id deliveryTicketId
        , box.express_fee_jpn expressFeeJpn
        , excmp.express_company_name expressCompanyName
        , box.box_weight boxWeight
        , box.status_id statusId
        , unit.unit_name unitName
        , status.status_name statusName
        , box.receiver_name receiverName
        , box.receiver_address receiverAddress
        , box.receiver_phone receiverPhone
    FROM delivery_box box
      INNER JOIN mst_unit unit
      ON (box.weight_unit_id = unit.unit_id)
      INNER JOIN mst_status status
      ON (box.status_id = status.status_id)
      INNER JOIN mst_express_company excmp
      ON (box.express_company_id = excmp.express_company_id)
    WHERE <![CDATA[ box.status_id <= '${status}' ]]>
    ORDER BY box.delivery_date, box.box_id
  </select>

  <select id="selectDeliveryContentWeight" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT 
        SUM(prod.package_weight*detail.quantity) contentWeight
    FROM delivery_detail detail
      LEFT JOIN mst_product prod
      ON (detail.bar_code = prod.bar_code)
    WHERE 
      <![CDATA[ 
          TO_CHAR(detail.delivery_date, 'yyyyMMdd')='${deliveryDate}' 
      AND detail.box_id='${boxId}' 
      ]]>
  </select>

  <select id="selectDeliveryDetails" parameterType="java.util.Map" resultType="com.hph.bean.resultbean.DeliveryBoxDetailBean">
    SELECT 
          detail.bar_code barCode
        , prod.name_jp nameJp
        , prod.name_cn nameCn
        , prod.package_weight packageWeight
        , prod.weight_unit_id weightUnitId
        , unit.unit_name unitName
        , detail.quantity quantity
        , detail.price_jpn priceJpn
	      , ROUND(#{expressFeeJpn}/#{contentWeight}::NUMERIC * prod.package_weight * 0.06, 2) expressFeeCny  
	      , ROUND(detail.price_jpn * 0.06, 2) priceCny
  	    , ROUND((#{expressFeeJpn} / #{contentWeight}::NUMERIC * prod.package_weight + detail.price_jpn) * 0.06, 2) cifCny
    FROM delivery_detail detail
      LEFT JOIN mst_product prod
      ON (detail.bar_code = prod.bar_code)
      LEFT JOIN mst_unit unit
      ON (prod.weight_unit_id = unit.unit_id)
    WHERE 
      <![CDATA[ 
          TO_CHAR(detail.delivery_date, 'yyyyMMdd')='${deliveryDate}' 
      AND detail.box_id='${boxId}' 
      ]]>
  </select>
  <select id="selectDeliveryProducts" parameterType="java.util.Map" resultType="com.hph.bean.resultbean.DeliveryProductBean">
    SELECT 
            dp.bar_code barCode
          , dp.name_cn nameCn
          , dp.quantity
          , substr(minBox.delivery_box,1,8) deliveryDate
          , substr(minBox.delivery_box,10) boxId
          , delbox.express_fee_jpn expressFeeJpn
    FROM (
        SELECT 
            ddt.bar_code
          , mp.name_cn
          , sum(ddt.quantity) AS quantity
        FROM delivery_box dbx
          LEFT JOIN delivery_detail ddt 
          ON (dbx.delivery_date = ddt.delivery_date AND dbx.box_id = ddt.box_id)
          LEFT JOIN mst_product mp ON (ddt.bar_code = mp.bar_code)
          LEFT JOIN mst_unit mi ON (mp.weight_unit_id = mi. unit_id)
        WHERE dbx.status_id IN ('20', '25')
        GROUP BY ddt.bar_code,mp.name_cn
    ) dp
    INNER JOIN (
        SELECT dt.bar_code, MIN(TO_CHAR(dt.delivery_date, 'yyyyMMdd')||'_'||dt.box_id) delivery_box 
        FROM delivery_box db
        INNER JOIN delivery_detail dt 
        ON (dt.delivery_date = db.delivery_date AND dt.box_id = db.box_id)
        WHERE db.status_id IN ('20', '25')
        GROUP BY dt.bar_code
    ) minBox
    ON (dp.bar_code = minBox.bar_code )
    INNER JOIN delivery_box delbox
    ON (TO_CHAR(delbox.delivery_date, 'yyyyMMdd') = substr(minBox.delivery_box,1,8) 
    AND delbox.box_id = substr(minBox.delivery_box, 10))
    ORDER BY dp.name_cn
  </select>
</mapper>
