<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hph.domain.mapper.hepinhui.custmapper.WorldCupMapper">
  <select id="selectAllOrders" parameterType="java.util.Map" resultType="com.hph.bean.resultbean.WorldCupOrderBean">
    SELECT
      WO.ORDER_ID     AS orderId
    , CM1.CODE_NAME   AS STAGE
    , WO.NAME         AS orderName
    , WO.TEAM         
    , CM3.CODE_NAME   AS RS
    , WO.HANDICAP     
    , WO.ODDS         
    , WO.AMOUNT       
    , CM2.CODE_NAME   AS STATUS
    , WO.RESULT       
    FROM WC_ORDER WO
    LEFT JOIN CODE_MST CM1 ON (CM1.GROUP_ID='001' AND CM1.CODE_ID=WO.CODE_ID)
    LEFT JOIN CODE_MST CM2 ON (CM2.GROUP_ID='002' AND CM2.CODE_ID=WO.STATUS)
    LEFT JOIN CODE_MST CM3 ON (CM3.GROUP_ID='003' AND CM3.CODE_ID=WO.RS)
  </select>
</mapper>
