<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gq.hph.repository.mapper.hepinhui.MstProductMapper">
  <resultMap id="BaseResultMap" type="com.gq.hph.repository.hepinhui.MstProduct">
    <id column="bar_code" jdbcType="CHAR" property="barCode" />
    <result column="name_jp" jdbcType="VARCHAR" property="nameJp" />
    <result column="name_cn" jdbcType="VARCHAR" property="nameCn" />
    <result column="catalog_id" jdbcType="VARCHAR" property="catalogId" />
    <result column="brand_id" jdbcType="CHAR" property="brandId" />
    <result column="region_id" jdbcType="CHAR" property="regionId" />
    <result column="package_weight" jdbcType="NUMERIC" property="packageWeight" />
    <result column="weight_unit_id" jdbcType="CHAR" property="weightUnitId" />
  </resultMap>
  <sql id="Base_Column_List">
    bar_code, name_jp, name_cn, catalog_id, brand_id, region_id, package_weight, weight_unit_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hepinhui.mst_product
    where bar_code = #{barCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hepinhui.mst_product
    where bar_code = #{barCode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gq.hph.repository.hepinhui.MstProduct">
    insert into hepinhui.mst_product (bar_code, name_jp, name_cn, 
      catalog_id, brand_id, region_id, 
      package_weight, weight_unit_id)
    values (#{barCode,jdbcType=CHAR}, #{nameJp,jdbcType=VARCHAR}, #{nameCn,jdbcType=VARCHAR}, 
      #{catalogId,jdbcType=VARCHAR}, #{brandId,jdbcType=CHAR}, #{regionId,jdbcType=CHAR}, 
      #{packageWeight,jdbcType=NUMERIC}, #{weightUnitId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gq.hph.repository.hepinhui.MstProduct">
    insert into hepinhui.mst_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="barCode != null">
        bar_code,
      </if>
      <if test="nameJp != null">
        name_jp,
      </if>
      <if test="nameCn != null">
        name_cn,
      </if>
      <if test="catalogId != null">
        catalog_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="packageWeight != null">
        package_weight,
      </if>
      <if test="weightUnitId != null">
        weight_unit_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="barCode != null">
        #{barCode,jdbcType=CHAR},
      </if>
      <if test="nameJp != null">
        #{nameJp,jdbcType=VARCHAR},
      </if>
      <if test="nameCn != null">
        #{nameCn,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null">
        #{catalogId,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=CHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=CHAR},
      </if>
      <if test="packageWeight != null">
        #{packageWeight,jdbcType=NUMERIC},
      </if>
      <if test="weightUnitId != null">
        #{weightUnitId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gq.hph.repository.hepinhui.MstProduct">
    update hepinhui.mst_product
    <set>
      <if test="nameJp != null">
        name_jp = #{nameJp,jdbcType=VARCHAR},
      </if>
      <if test="nameCn != null">
        name_cn = #{nameCn,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null">
        catalog_id = #{catalogId,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=CHAR},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=CHAR},
      </if>
      <if test="packageWeight != null">
        package_weight = #{packageWeight,jdbcType=NUMERIC},
      </if>
      <if test="weightUnitId != null">
        weight_unit_id = #{weightUnitId,jdbcType=CHAR},
      </if>
    </set>
    where bar_code = #{barCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gq.hph.repository.hepinhui.MstProduct">
    update hepinhui.mst_product
    set name_jp = #{nameJp,jdbcType=VARCHAR},
      name_cn = #{nameCn,jdbcType=VARCHAR},
      catalog_id = #{catalogId,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=CHAR},
      region_id = #{regionId,jdbcType=CHAR},
      package_weight = #{packageWeight,jdbcType=NUMERIC},
      weight_unit_id = #{weightUnitId,jdbcType=CHAR}
    where bar_code = #{barCode,jdbcType=CHAR}
  </update>
</mapper>