<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hph.domain.mapper.hepinhui.MstBrandMapper">
  <resultMap id="BaseResultMap" type="com.hph.domain.hepinhui.MstBrand">
    <id column="brand_id" jdbcType="CHAR" property="brandId" />
    <result column="brand_name_cn" jdbcType="VARCHAR" property="brandNameCn" />
    <result column="brand_name_jp" jdbcType="VARCHAR" property="brandNameJp" />
  </resultMap>
  <sql id="Base_Column_List">
    brand_id, brand_name_cn, brand_name_jp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hepinhui.mst_brand
    where brand_id = #{brandId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hepinhui.mst_brand
    where brand_id = #{brandId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.hph.domain.hepinhui.MstBrand">
    insert into hepinhui.mst_brand (brand_id, brand_name_cn, brand_name_jp
      )
    values (#{brandId,jdbcType=CHAR}, #{brandNameCn,jdbcType=VARCHAR}, #{brandNameJp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hph.domain.hepinhui.MstBrand">
    insert into hepinhui.mst_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="brandNameCn != null">
        brand_name_cn,
      </if>
      <if test="brandNameJp != null">
        brand_name_jp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brandId != null">
        #{brandId,jdbcType=CHAR},
      </if>
      <if test="brandNameCn != null">
        #{brandNameCn,jdbcType=VARCHAR},
      </if>
      <if test="brandNameJp != null">
        #{brandNameJp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hph.domain.hepinhui.MstBrand">
    update hepinhui.mst_brand
    <set>
      <if test="brandNameCn != null">
        brand_name_cn = #{brandNameCn,jdbcType=VARCHAR},
      </if>
      <if test="brandNameJp != null">
        brand_name_jp = #{brandNameJp,jdbcType=VARCHAR},
      </if>
    </set>
    where brand_id = #{brandId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hph.domain.hepinhui.MstBrand">
    update hepinhui.mst_brand
    set brand_name_cn = #{brandNameCn,jdbcType=VARCHAR},
      brand_name_jp = #{brandNameJp,jdbcType=VARCHAR}
    where brand_id = #{brandId,jdbcType=CHAR}
  </update>
</mapper>