<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发货单一览</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript"  th:inline="javascript">
		/*<![CDATA[*/ 
		function doUpdateStatus(deliveryDate, boxId, statusId){
            var link = /*[[@{/UpdateDeliveryBoxStatus}]]*/
            link = link+"?deliveryDate=" + deliveryDate + "&boxId=" +  boxId + "&statusId=" +  statusId;
            location.href=link;
		}
		/*]]>*/
	</script>
</head>
<body>
    
    <div align="center">
        <p>发货单一览</p><a th:href="@{/}" th:text="返回首页"></a>
        <table border="1">
            <tr>
                <th>日期_箱号</th>
                <th>发货单号</th>
                <th>物流公司</th>
                <th>邮费</th>
                <th>箱重</th>
                <th>物流状态</th>
                <th>收货人</th>
                <th>收货人地址</th>
                <th>收货人电话</th>
                <th>发货单图片</th>
            </tr>
            <tr th:each="deliveryBox:${deliveryBoxList}">
                <td >
                    <a 
                        th:href="@{/getDeliveryBoxDetails(deliveryDate=${#dates.format(deliveryBox.deliveryDate, 'yyyyMMdd')}, boxId=${deliveryBox.boxId}, expressFeeJpn=${deliveryBox.expressFeeJpn})}" 
                        th:text="${#dates.format(deliveryBox.deliveryDate, 'yyyyMMdd')}+'_'+${deliveryBox.boxId}">
                    </a>
                </td>
                <td >
                    <a 
                        th:href="@{${@environment.getProperty('japanpost.ticket.search.url')}(requestNo1=${#strings.trim(deliveryBox.deliveryTicketId)}, search.x=101, search.y=16, locale=ja)}"
                        target="_blank"
                        th:text="${deliveryBox.deliveryTicketId}">
                    </a>
                </td>
                <td th:text="${deliveryBox.expressCompanyName}"></td>
                <td th:text="${deliveryBox.expressFeeJpn}"></td>
                <td th:text="${deliveryBox.boxWeight}+${deliveryBox.unitName}"></td>
                <td>
                    <span th:text="${deliveryBox.statusName}"></span>
                    <span th:if="${deliveryBox.statusId=='20' or deliveryBox.statusId=='25'}">
                        <span th:if="${deliveryBox.statusId=='20'}">
                            <button th:onclick="doUpdateStatus([[${#dates.format(deliveryBox.deliveryDate, 'yyyyMMdd')}]], [[${deliveryBox.boxId}]], '25');">到岸</button>
                        </span>
                        <button th:onclick="doUpdateStatus([[${#dates.format(deliveryBox.deliveryDate, 'yyyyMMdd')}]], [[${deliveryBox.boxId}]], '30');">到货</button>
                    </span>
                </td>
                <td th:text="${deliveryBox.receiverName}"></td>
                <td th:text="${deliveryBox.receiverAddress}"></td>
                <td th:text="${deliveryBox.receiverPhone}"></td>
                <td>
                    <a href="/images/${#dates.format(deliveryBox.deliveryDate, 'yyyyMMdd')}_${deliveryBox.boxId}.jpg" title="打开图像" target="_blank">
                        <img height="16px" width="16x" src="'/images/'+${#dates.format(deliveryBox.deliveryDate, 'yyyyMMdd')}+'_'+${deliveryBox.boxId}+'.jpg'" >
                    </a>
                </td>
                <!--<td><img th:src="@{${@environment.getProperty('spring.mvc.static-path-pattern')}}+'20220325_001_CD417021853JP.jpg'" ></td>-->
            </tr>
        </table>
    </div>
</body>
</html>
