<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>2022卡塔尔世界杯娱乐网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <p align="center">2022卡塔尔世界杯娱乐网</p>
    <div align="center">
        <a th:href="@{/confirmorderList(orderStatus='0')}">确认中订单一览</a>
        <br>
        <a th:href="@{/confirmorderList(orderStatus='1')}">下单成功一览</a>
        <br>
        <a th:href="@{/confirmorderList(orderStatus='2')}">结账中订单一览</a>
    </div>
</body>
</html>
