<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>2022卡塔尔世界杯娱乐单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript"  th:inline="javascript">
        function doSearch(){
            var link = /*[[@{/getWorldCupOrderList}]]*/
            link = link+"?orderName=" + document.formOrder.orderName.value
                + "&orderStatus=" + document.formOrder.orderStatus.value
                + "&stageId=" + document.formOrder.stageId.value;
            location.href=link;
        }
	</script>
</head>
<body>
<form name="formOrder">
    <div align="center">
        <p>卡塔尔世界杯娱乐单</p>
        <a href="/hph-dev/worldcup">回主菜单</a>
        <br>
        <select name="orderName">
            <option value="">所有人</option>
            <option value="00001">甘</option>
            <option value="00002">吴</option>
            <option value="00003">王毅</option>
            <option value="00004">王晟</option>
            <option value="00005">王航</option>            
            <option value="00006">周</option>
            <option value="00007">沈</option>
            <option value="00008">丁</option>
            <option value="00009">邓</option>
            <option value="00010">洪</option>
            <option value="00011">孙</option>
            <option value="00012">无为</option>
        </select>
        <select name="stageId">
            <option value="">全部</option>
            <option value="001">冠军</option>
            <option value="002">冠军归属</option>
            <option value="003">晋级决赛</option>
            <option value="004">晋级半决赛</option>
            <option value="005">晋级八强</option>
            <option value="007">小组赛</option>
        </select>
        <select name="orderStatus">
            <option value="">全部</option>
            <option value="0">确认中</option>
            <option value="1">下单完成</option>
            <option value="2">结账中</option>
            <option value="3">结束</option>
        </select>
        <input type="button" value="查询" onclick="javascript:doSearch()">
        <table border="1">
            <tr>
                <th>订单号</th>
                <th>赛事阶段</th>
                <th>下单者</th>
                <th>球队</th>
                <th>受让</th>
                <th>盘口</th>
                <th>赔率</th>
                <th>金额</th>
                <th>订单状态</th>
                <th>结果</th>
            </tr>
            <tr th:each="worldCupOrder:${worldCupOrderList}">
                <td th:text="${worldCupOrder.orderId}"></td>
                <td th:text="${worldCupOrder.stage}"></td>
                <td th:text="${worldCupOrder.orderName}"></td>
                <td th:text="${worldCupOrder.team}"></td>
                <td th:text="${worldCupOrder.rs}"></td>
                <td th:text="${worldCupOrder.handicap}"></td>
                <td th:text="${worldCupOrder.odds}"></td>
                <td th:text="${worldCupOrder.amount}"></td>
                <td th:text="${worldCupOrder.status}"></td>
                <td th:text="${worldCupOrder.result}"></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>
