<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>2022卡塔尔世界杯娱乐单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript"  th:inline="javascript">
	</script>

</head>
<body>
<form name="formOrder" th:action="@{/DoConfirm}" th:object="${wcOrder}" method="post">
    <div align="center">
        <p>卡塔尔世界杯娱乐单</p>
        <a href="/hph-dev/worldcup">回主菜单</a>
        <br>
        <table>
            <tr><td>订单号</td>
                <td>
                    <input type="text" name="orderId" readonly th:value="${wcOrder.orderId}">
                </td>
            </tr>
            <tr><td>姓名</td>
                <td>
                    <input type="text" name="name" readonly th:value="${wcOrder.name}">
                </td>
            </tr>
            <tr><td>赛事阶段</td>
                <td>
                    <input type="text" name="codeId" readonly th:value="${wcOrder.codeId}">
                </td>
            </tr>
            <tr><td>国家</td>
                <td th:text="${wcOrder.team}"></td>
            </tr>
            <tr><td>让受</td>
                <td th:text="${wcOrder.rs}"></td>
            </tr>
            <tr><td>盘口</td>
                <td th:text="${wcOrder.handicap}"></td>
            </tr>
            <tr><td>赔率</td>
                <td>
                    <input type="text" name="odds" th:value="${wcOrder.odds}">
                </td>
            </tr>
            <tr><td>金额</td>
                <td>
                    <td th:text="${wcOrder.amount}"></td>
                </td>
            </tr>
            <tr><td></td>
                <td style="text-align:right">
                    <input type="submit" value="确认">
                </td>
            </tr>
        </table>        
    </div>
</form>
</body>
</html>
